{% extends 'base.html' %}
{% load static %}
{% block title %}Alterar Banner{% endblock %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/alteraBanner.css' %}">
{% endblock %}
{% block content %}
<div class="altera-container">
    <div class="produto-preview">
        <div class="img-box">
            {% if banner.imagem %}
                <img
                    id="preview"
                    src="{{ banner.imagem.url }}"
                    alt="{{ banner.titulo }}"
                >
            {% else %}
                <img
                    id="preview"
                    src="{% static 'imagens/sem-imagem.png' %}"
                >
            {% endif %}
        </div>
    </div>
    <div class="form-container">
        <h1>🖼️ Alterar Banner</h1>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <label>Título</label>
            <input
                type="text"
                name="titulo"
                value="{{ banner.titulo }}"
                required
            >
            <label>Link de Destino</label>
            <input
                type="text"
                name="link"
                value="{{ banner.link }}"
                required
            >
            <label>Ordem de Exibição</label>
            <input
                type="number"
                name="ordem"
                value="{{ banner.ordem }}"
                min="0"
                required
            >
            <label>Imagem</label>
            <input
                type="file"
                name="imagem"
                id="imagemInput"
            >
            <div class="checkbox-area">
                <input
                    type="checkbox"
                    name="ativo"
                    id="ativo"
                    {% if banner.ativo %}
                        checked
                    {% endif %}
                >
                <label for="ativo">
                    Banner Ativo
                </label>
            </div>
            <button type="submit">
                💾 Salvar Alterações
            </button>
        </form>
    </div>
</div>
<script src="{% static 'js/alteraBanner.js' %}"></script>
{% endblock %}