{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{% static 'imagens/favicon.ico' %}" type="image/x-icon">
    <title>{% block title %}Rhapsody{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% block extra_css %}{% endblock %}
</head>
<body>
<div class="navbar">
    <div class="nav-left">
        <a href="/"><img src="{% static 'imagens/logo.png' %}" class="logo"></a>
        <div class="dropdown">
            <button class="dropbtn">Categorias</button>
            <div class="dropdown-content">
                {% for cat in categorias %}
                    <a href="{% url 'categoria' cat.slug %}">{{ cat.nome }}</a>
                {% endfor %}
            </div>
        </div>
        <div class="dropdown">
            <button class="dropbtn">Tipos</button>
            <div class="dropdown-content">
                {% for t in tipos %}
                    <a href="{% url 'tipo' t.slug %}">{{ t.nome }}</a>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="nav-center">
        <form action="{% url 'buscar' %}" method="GET">
            <input type="text" name="q" placeholder="Buscar produto...">
            <button type="submit">🔍</button>
        </form>
    </div>
    <div class="nav-right">
        {% if usuario_logado %}
            <a href="#" class="cart-icon">
                <img src="{% static 'imagens/carrinho.png' %}" alt="Carrinho">
            </a>
            <div class="user-dropdown">
                <a href="{% url 'perfil' %}">
                    <img
                        src="{% if usuario_logado.foto_perfil %}
                            {{ usuario_logado.foto_perfil.url }}
                            {% else %}
                            {% static 'imagens/icone.png' %}
                     {% endif %}"
                    class="profile-img"
                    alt="Perfil"
                    >
                </a>
                <div class="user-menu">
                    <a href="{% url 'perfil' %}" class="menu-item">
                        <img
                            src="{% if usuario_logado.foto_perfil %}
                            {{ usuario_logado.foto_perfil.url }}
                            {% else %}
                            {% static 'imagens/icone.png' %}
                            {% endif %}"
                            class="menu-icon perfil-icon"
                            alt="Perfil"
                        >
                        <span>Meu Perfil</span>
                    </a>
                    <a href="{% url 'pedidos' %}" class="menu-item">
                        <img src="{% static 'imagens/pedido.png' %}" class="menu-icon" alt="Pedidos">
                        <span>Meus Pedidos</span>
                    </a>
                    <a href="{% url 'carrinho' %}" class="menu-item">
                        <img src="{% static 'imagens/carrinho.png' %}" class="menu-icon" alt="Carrinho">
                        <span>Meu Carrinho</span>
                    </a>
                    <a href="{% url 'logout' %}" class="menu-item">
                        <img src="{% static 'imagens/logout.png' %}" class="menu-icon" alt="Logout">
                        <span>Sair</span>
                    </a>
                </div>
            </div>
            {% else %}
            <a href="{% url 'login' %}?next={{ request.path }}" class="auth-icon">
                <img src="{% static 'imagens/login.webp' %}" alt="Login">
            </a>
            <a href="{% url 'signup' %}?next={{ request.path }}" class="auth-icon">
                <img src="{% static 'imagens/signup.webp' %}" alt="Cadastro">
            </a>
        {% endif %}
</div>
</div>
<div class="main-content">
    {% block content %}
    {% endblock %}
</div>
<div id="zoom-preview"></div>
<div id="zoom-global"></div>
<div class="footer">
    <p>© 2026 Rhapsody</p>
</div>
</body>
</html>