{% extends 'base.html' %}
{% load static %}
{% block title %}{{ categoria.nome }}{% endblock %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/CeT.css' %}">
{% endblock %}
{% block content %}
<div class="container">
    <h2>📂 {{ categoria.nome }}</h2>
    <div class="grid">
        {% for p in produtos %}
        <a href="/produto/{{ p.slug }}/" class="card">
            <div class="img-wrapper">
                {% if p.imagem %}
                    <img src="{{ p.imagem.url }}" alt="{{ p.nome }}">
                    <img src="{{ p.imagem.url }}" class="img-zoom">
                {% else %}
                    <img src="{% static 'imagens/sem-imagem.png' %}">
                {% endif %}
            </div>
            <h3>{{ p.nome }}</h3>
            <p>R$ {{ p.preco }}</p>
        </a>
        {% empty %}
            <p>Sem produtos nessa categoria</p>
        {% endfor %}
    </div>
</div>
{% endblock %}